body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;

}

.org-chart-node {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 10px;
  border: 1px solid #E4E2E9;
}

.org-chart-node-circle {
  background-color: #FFFFFF;
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.org-chart-node-image {
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.org-chart-node-menu {
  color: #08011E;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 10px;
}

.org-chart-node-name {
  font-size: 15px;
  color: #08011E;
  margin-left: 20px;
  margin-top: 32px;
}

.org-chart-node-position {
  color: #716E7B;
  margin-left: 20px;
  margin-top: 3px;
  font-size: 10px;
}